<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Sign up to Pastebook</mat-toolbar>
        <form 
            fxLayoutAlign="stretch" 
            fxLayout="column" 
            class="login-form register-form" 
            [formGroup]="registerForm" 
            (submit)="onSubmit()">

        <mat-form-field>
            <input matInput placeholder="First Name" type="text">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Last Name" type="text">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Email" type="email">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="New Password" type="Password">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Confirm Password" type="Password">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <button mat-raised-button  color="primary" type="submit">Login</button>

        <div fxLayoutAlign="center center" fxFlexFill>
            <button mat-button color="primary">Forgot Account?</button>
            <button mat-button color="primary">Sign up for PasteBook</button>
        </div>

      </form>
    </mat-card>
</div>

<!-- 
<div class="container">
    <form>

        <input type="password"
        name="password"
        id="password"
        formControlName="password"
        placeholder="Password"><br>

        <input type="password"
        name="confirm-password"
        id="password"
        formControlName="confirm-password"
        placeholder="Confirm Password"><br>

        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br>

        <input type="text"
        name="gender"
        id="gender"
        formControlName="gender"
        placeholder="Gender"><br>

        <input type="text"
        name="number"
        id="number"
        formControlName="number"
        placeholder="Mobile Number"><br>
    </form>
</div> -->