.example-spacer {
    flex: 1 1 auto;
  }
  .profile-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); // change to useraccount.profile_picture url`
    background-size: cover;
  }