<div class="row" *ngIf="album">
    <div class = "col">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Album: {{album.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-actions style="padding-left: 16px;" *ngIf="checkAlbumTitle() == true">
                <button mat-icon-button color="primary" (click)="editAlbumName()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="deleteAlbum()">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="fileUpload.click()">
                    <mat-icon>upload</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="fileAttach.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                <span>{{imageFileName}}</span>
            </mat-card-actions>
        </mat-card>
        <mat-divider></mat-divider>
        <div fxLayoutAlign="row" fxLayoutAlign="center stretch">
            <div class="album-gallery-card cards-div mat-elevation-z2" fxLayoutAlign="row" fxLayoutAlign="space center">
                <button mat-fab matTooltip="Upload Image" class="album-card mat-elevation-z3" color="primary">
                    <mat-icon inline="true">upload</mat-icon>
                </button>
                <button mat-flat-button class="album-card album-with-photo mat-elevation-z3" fxLayoutAlign="row" color="primary" *ngFor="let image of images">
                    <img id="myImg" [src]="getImagePath(image.data)" alt="image">
                </button>
            </div>
        </div>
    </div>
</div>

<input
    type="file"
    accept="image/*"
    (change)="onFileSelect($event)"
    style="display:none;"
    #fileAttach
/>
<button 
    type="submit" 
    (click)="onFileUpload()" 
    style="display:none;"
    #fileUpload>Upload
</button>