<div class="main-div">

        <mat-card class="header">
        <div class="image">
            <img class="profile-picture" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Profile Picture">

            <button
                matTooltip="Change Picture"
                matTooltipShowDelay="700"
                class="btn"><mat-icon>camera_enhance</mat-icon>
            </button>
        </div>
            <p class="user-name">John Doe Mary Jane Maravilla Sta Cruz Dela Rosa</p>
        </mat-card>
        <mat-divider></mat-divider>
    <div class="container">
        <div class="left-container">
            <div class="about-me">
                <mat-card class="about-me-card">
                    <mat-card-title>About Me</mat-card-title>
                    <mat-card-content>{{aboutMeSaved}}</mat-card-content>
                    <mat-form-field class="form-field" appearance="legacy">
                    <mat-label>{{aboutMe.length}}/200 characters typed</mat-label>
                    <input (keyup.enter)="addToAboutMe($event, aboutMe)"
                        maxlength="200" matInput
                        placeholder="You may type upto 200 characters only"
                        [(ngModel)]="aboutMe">
                    </mat-form-field>

                    <mat-card-actions class="btn-container">
                        <button (click)="addToAboutMe($event, aboutMe)"
                        mat-raised-button
                        color="primary">Save</button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="user-details">
                <mat-card>
                    <p>Email</p>
                    <p>Birthday</p>
                    <p>Gender</p>
                    <p>Phone Number</p>
                </mat-card>
            </div>

            <div class="albums">
                <mat-card>
                    <p>Put albums preview here. Put albums link here</p>
                </mat-card>
            </div>
        </div>

        <div class="right-container">
            <div class="make-post">
                <mat-card fxLayoutAlign="center">
                    <mat-form-field class="form-field" appearance="fill" width="100px">
                        <mat-label>What's on your mind?</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                      <button mat-flat-button>POST</button>
                </mat-card>
            </div>

            <div class="user-posts">
                <mat-card>
                    <div class="post-header">
                        <img class="post-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                        <mat-card-title class="post-users-name">Clark Kent Bruce Wayne</mat-card-title>
                    </div>
                    <mat-card-content class="card-content" >asdsadshhhhhhhhhhhhhhasdsadshhhhhhhhhhhhhhasdsadshhhhhhhhhhhhhhasdsadshhhhhhhhhhhhhhasdsadshhhhhhhhhhhhhhasdsadshhhhhhhhhhhhhhasdsadshhhhhhhhhhhhhhasdsadshhhhhhhhhhhhhhasdsadshhhhhhhhhhhhhhasdsadshhhhhhhhhhhhhhasdsadshhhhhhhhhhhhhhasdsadshhhhhhhhhhhhhh</mat-card-content>
                    <p class="people-liked" (click)="openDialog()">0 likes</p>
                    <mat-card-actions>
                        <button mat-button><mat-icon class="icon">thumb_up</mat-icon>LIKE</button>
                        <button mat-button><mat-icon class="icon">comment</mat-icon>COMMENT</button>
                    </mat-card-actions>
                    
                </mat-card>
            </div>

            <div class="user-posts">
                <mat-card>
                    <div class="post-header">
                        <img class="post-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                        <mat-card-title class="post-users-name">Clark Kent Bruce Wayne</mat-card-title>
                    </div>
                    <mat-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis commodi, vel aliquam enim error distinctio atque laboriosam fugiat! Voluptatum, at ab reiciendis odio perspiciatis vel laudantium tempore. Ipsam, impedit dignissimos?</mat-card-content>
                    <p class="people-liked" (click)="openDialog()">0 likes</p>
                    <mat-card-actions>
                        <button mat-button><mat-icon class="icon">thumb_up</mat-icon>LIKE</button>
                        <button mat-button><mat-icon class="icon">comment</mat-icon>COMMENT</button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="user-posts">
                <mat-card>
                    <div class="post-header">
                        <img class="post-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                        <mat-card-title class="post-users-name">Clark Kent Bruce Wayne</mat-card-title>
                    </div>
                    <mat-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis commodi, vel aliquam enim error distinctio atque laboriosam fugiat! Voluptatum, at ab reiciendis odio perspiciatis vel laudantium tempore. Ipsam, impedit dignissimos?</mat-card-content>
                    <p class="people-liked" (click)="openDialog()">0 likes</p>
                    <mat-card-actions>
                        <button mat-button><mat-icon class="icon">thumb_up</mat-icon>LIKE</button>
                        <button mat-button><mat-icon class="icon">comment</mat-icon>COMMENT</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>