.cards-div {
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    margin: 5px;
}

.image-card {
    width: 240px;
    height: 240px;
    padding: 0;
}


.image-card img { 
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 0 ;
}

.album-card img {
    height: 100%;
    max-width: 180px;
    object-fit: cover;
    margin: 0 ;
    overflow: hidden;
}

.album-card {
    border-radius: 8px;
    box-sizing: border-box;
    height: 180px;
    width: 180px;
    margin: 3px;
    padding:0;
}

.album-with-photo {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.album-gallery-card {
    max-width: 954px;
    width: 100%;
    margin: 20px;
    padding: 12px;
  }


.cards-div {
    display: flex;
    flex-wrap: wrap;
}
.card-name {
    font-size: 20px;
    font-weight: bolder;
    color: black;
}

.container-card {
    width: 200px;
    height: 270px;
    padding-bottom: 0;
}

.button-container {
    padding-top: 0;
}
