<div class="row">
    <div mat-card-avatar class="profile-image" style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')"></div>
    <div class="col">
        <div class="row">
            <div class="col">
                <a href="#"><h4><strong>User Name</strong></h4></a>
                <div>Comment Here!</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button mat-button>Like</button>
                <button mat-button>Reply</button>
                <span>2h</span>
            </div>
        </div>
    </div>
</div>