<div class="row">
    <div mat-card-avatar class="profile-image">
        <img mat-card-avatar class="profile-image" src="assets/blank_profile.png" style="width: inherit; height: inherit; object-fit: cover"/>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <a href="#"><h4><strong>User Name</strong></h4></a>
                <div>Comment Here!</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button mat-button>Like</button>
                <button mat-button>Reply</button>
                <span>2h</span>
            </div>
        </div>
    </div>
</div>