<div class="comment">
    <div class="comment-container">
        <div class="profile-image-container">
            <img mat-card-avatar class="profile-image" src="assets/blank_profile.png"/>
        </div>
        <div class="comment-section">
            <div class="comment-box">
                <div class="user-name"><a href="#">John Doe</a></div>
                <div class="user-comment">
                    This is comment of user John Doe.
                </div>
            </div>
            <div class="buttons">
                <ul>
                    <li><a href="">Like</a></li>
                    <li><a href="">2h</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="comment-container">
        <div class="profile-image-container">
            <img mat-card-avatar class="profile-image" src="assets/blank_profile.png"/>
        </div>
        <div class="comment-section">
            <div class="comment-box">
                <div class="user-name"><a href="#">Doe John</a></div>
                <div class="user-comment">
                    This is comment of user Doe John.
                </div>
            </div>
            <div class="buttons">
                <ul>
                    <li><a href="">Like</a></li>
                    <li><a href="">2h</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>