<div fxLayoutAlignment="center center">
    <mat-card fxFlex="25">
      <mat-card-header>
        <mat-card-title>Log into Pastebook</mat-card-title>
      </mat-card-header>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="user@pastebook.com" type="email">
            </mat-form-field>
          
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" type="password">
            </mat-form-field>
          </form>
    </mat-card>
</div>