<div *ngIf="userAccount"> 
  <div fxLayoutAlign="column" fxLayoutAlign="center center" *ngFor="let post of posts">
    <mat-card class="post-card mat-elevation-z2">
      <!-- *ngFor="post of posts" -->
      <mat-card-header>
        <!-- [style]="background-image: url('{{post.username.profilePicture}}')" something like that -->
        <div mat-card-avatar class="profile-image">
          <img mat-card-avatar class="profile-image" *ngIf="post.profileImagePath == null" src="assets/blank_profile.png" style="width: inherit; height: inherit; object-fit: cover"/>
          <img mat-card-avatar class="profile-image" *ngIf="post.profileImagePath != null" [src]="getImagePath(post.profileImagePath)" style="width: inherit; height: inherit; object-fit: cover"/>
        </div>
        <!-- {{post.userAccountId.name}} -->
        <mat-card-title>{{post.firstName}} {{post.lastName}}</mat-card-title>
        <!-- {{post.createdTime}} -->
        <mat-card-subtitle><a href="#">2h</a></mat-card-subtitle>
        <mat-chip *ngIf="post.visibility == 'public'"><mat-icon>public</mat-icon>Public</mat-chip>
        <mat-chip *ngIf="post.visibility == 'friends'"><mat-icon>people</mat-icon>Friends</mat-chip>
      </mat-card-header>
      <!-- Image -->
      <img *ngIf="post.AlbumId != null" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <!-- insert [src]="post.image" *ngIf="post.image" -->
      <!-- Content -->
      <mat-card-content>
        <!-- {{post.content}} -->
        <p>
          {{post.textContent}}
        </p>
      </mat-card-content>
      <mat-card-content fxLayoutAlign="row" fxLayoutAlign="space-between" style="margin:0">
        <div>
          <button mat-button color="primary" (click)="openDialog(post.id)">
            Likes {{post.likesCount}}
          </button>
          <!-- post.likes.count -->
        </div>
        <div>
          <button mat-button color="primary" (click)="seeCommentsSection=!seeCommentsSection">
            Comments {{post.commentsCount}}
          </button>
          <!-- post.comments.count -->
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions style="margin:5px; padding:0px" fxLayoutAlign="row" fxLayoutAlign="center center">
        <!-- Like button : using Mat-Dialog -->
        <button (click)="this.likePost(post.id)" mat-button color="primary" style="width: 100%;">
          <mat-icon inline="true">thumb_up</mat-icon>
          Like
        </button>
        <button (click)="this.checkLikeStatus(post.id)" mat-button color="primary" style="width: 100%;">
          <mat-icon inline="true">thumb_up</mat-icon>
          Liked?
        </button>
        <!-- Comment button -->
        <button mat-button color="primary" style="width: 100%;" (click)="insertComment=!insertComment">
          <mat-icon inline="true">comment</mat-icon>
          Comment
        </button>
      </mat-card-actions>
      <mat-divider *ngIf="insertComment||seeCommentsSection"></mat-divider>
      <!-- Comments Section -->
      <app-insert-comment *ngIf="insertComment"></app-insert-comment>
      <app-comments *ngIf="seeCommentsSection"></app-comments>
    </mat-card>
  </div>
</div>

