<mat-toolbar color="primary">
  Log in to Pastebook
</mat-toolbar>
<mat-card class="login-card">
  <mat-card-content>
    <form 
      fxLayoutAlign="stretch" 
      fxLayout="column" 
      class="loginForm"
      [formGroup]="loginForm" 
      novalidate 
      (ngSubmit)="onSubmit()">
        <!-- Email -->
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input 
                matInput 
                placeholder="Email" 
                formControlName="email" 
                type="email">
              <!-- Email Required -->
              <mat-error *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.['required']">
                    Email is <strong>required</strong>
              </mat-error>
              <!-- Invalid Email -->
              <mat-error *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.['pattern']">
                Email is <strong>invalid</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- Password -->
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Password" formControlName="password" type="password">
              <mat-error *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      <button 
        routerLink="home"
        mat-raised-button  
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid">
        Login
      </button>
    </form>
  </mat-card-content>
  <div class="row">
    <!-- Forgot Account -->
    <div class="col">
      <button mat-button color="primary">Forgot Account?</button>
    </div>
    <!-- Sign Up -->
    <div class="col">
      <button mat-button color="primary" routerLink="signup">Sign up for Pastebook</button>
    </div>  
  </div>
</mat-card>
  