<mat-toolbar *ngIf="userAccount" fxLayoutAlign="row" layout-wrap class="full-width" fxLayoutAlign="space-between center" color="primary">
    <!-- Left Section -->
    <div fxLayoutAlign="column" fxLayoutAlign="start center" fxFlex="25">
        <!-- Logo -->
        <button mat-mini-fab color="primary" class="example-icon" aria-label="Example icon-button with menu icon" fxLayoutAlign="center center" routerLink="/">
        <!-- <button routerLink="" mat-mini-fab color="primary" class="example-icon" aria-label="Example icon-button with menu icon" fxLayoutAlign="center center"> -->
            <h1>pb</h1>
        </button>
        <span style="width:10px"></span>
        <!-- Search bar -->
        <button matPrefix mat-button color="primary" style="background-color:white">
            <mat-icon >search</mat-icon>
            <input 
                placeholder="Search" 
                style="border: 0;height: 100%;width: calc(100% - 20px);text-align: left;" 
                type="text" 
                matInput 
                name="search">
        </button>
                
    </div>
    <!-- Middle Section -->
    <div fxLayoutAlign="column" fxLayoutAlign="center center" style="max-width: 712px;width: 100%;">
        <!-- Home/News Feed Button -->
        <button mat-button aria-label="Example icon-button with heart icon" style="max-width: 200px;width: 100%;" routerLink="/">
            <mat-icon>home</mat-icon>
        </button>
        <!-- Friends Button => redirects to Display Friends page -->
        <button mat-button aria-label="Example icon-button with heart icon" style="max-width: 200px;width: 100%;" routerLink="/{{this.userAccount.userName}}/friends">
            <mat-icon>people</mat-icon>
        </button>
        <!-- Photo Album -->
        <button mat-button aria-label="Example icon-button with heart icon" style="max-width: 200px;width: 100%;" routerLink="/{{this.userAccount.userName}}/albums">
            <mat-icon>photo_album</mat-icon>
        </button>
    </div>
    <!-- Right Section -->
    <div fxLayoutAlign="column" fxLayoutAlign="end center" fxFlex="25">
        <!-- Profile -->
        <mat-chip-list>
            <!-- <mat-chip color="primary" routerLink="/{{userAccount.userName}}" selected> -->
            <mat-chip color="primary" (click)="this.navigateToUserProfile()" selected>
                <mat-chip-avatar>
                    <img *ngIf="userAccount.profileImagePath == null" src="assets/blank_profile.png" style="width: inherit; height: inherit; object-fit: cover"/>
                    <img *ngIf="userAccount.profileImagePath != null" [src]="convertBase64TextString(userAccount.profileImagePath)" style="width: inherit; height: inherit; object-fit: cover"/>
                </mat-chip-avatar>
                {{userAccount.firstName}}
            </mat-chip>
        </mat-chip-list>
        <span style="width:10px"></span>
        <!-- Friend Request -->
        <button mat-mini-fab color="primary" [matMenuTriggerFor]="request" aria-label="Example icon-button with heart icon">
            <mat-icon matBadge="{{this.friendRequestCount}}" matBadgeColor="accent">person_add</mat-icon>
        </button>
        <mat-menu #request="matMenu" class="menu-card">
            <mat-card-header style="padding: 6px 24px ;">
                <mat-card-title>Friend Requests</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <!-- Friend Request Content-->
            <mat-card-content style="margin: 0;">
                <ul>
                    <li *ngFor="let fr of this.friendRequest" style="margin: 0;">
                        <p style="margin: 0;">
                        {{fr.firstName}} {{fr.lastName}} sent you a Friend Request. {{fr.id}}
                        </p>
                        <mat-card-actions style="margin: 0; padding-top: 0;">
                            <button (click)="this.AcceptFR(fr.id)" mat-button color="primary">Accept</button>
                            <button (click)="this.DeclineFR(fr.id)" mat-button color="warn">Decline</button>
                        </mat-card-actions>
                    </li>
                </ul>
            </mat-card-content>

        </mat-menu>
        <span style="width:10px"></span>
        <!-- Notification -->
        <button mat-mini-fab color="primary" [matMenuTriggerFor]="notif" aria-label="Example icon-button with heart icon">
            <mat-icon matBadge="{{this.notificationCount}}" matBadgeColor="accent">notifications</mat-icon>
        </button>
        <mat-menu #notif="matMenu" class="menu-card-notif" style="padding: 6px 10px ; width: fit-content;">
            <mat-card-header style="padding: 6px 24px ;">
                <mat-card-title>Notifications</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
        <!-- Notif Content -->
            <mat-card-content style="padding: 6px 10px ;">
                <a *ngFor="let notif of this.notification" mat-button routerLink=".">
                    <span *ngIf="notif.friendRequestId != null">{{notif.firstName}} {{notif.lastName}} sent you a Friend Request.</span>
                    <span *ngIf="notif.commentId != null">{{notif.firstName}} {{notif.lastName}} commented on your post.</span>
                    <span *ngIf="notif.likesId != null">{{notif.firstName}} {{notif.lastName}} liked your post.</span>
                </a>
            </mat-card-content>

        </mat-menu>
        <span style="width:10px"></span>
        <!-- Expandable Menu -->
        <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>expand_more</mat-icon>
        </button>

        <mat-menu #menu="matMenu" class="menu-card">
            <mat-card-header style="padding: 6px 24px; cursor: pointer; " routerLink="/{{userAccount.userName}}">
                <div mat-card-avatar class="profile-image">
                    <img mat-card-avatar class="profile-image" *ngIf="userAccount.profileImagePath == null" src="assets/blank_profile.png" style="width: inherit; height: inherit; object-fit: cover"/>
                    <img mat-card-avatar class="profile-image" *ngIf="userAccount.profileImagePath != null" [src]="convertBase64TextString(userAccount.profileImagePath)" style="width: inherit; height: inherit; object-fit: cover"/>
                </div>
                <mat-card-title>{{userAccount.firstName}} {{userAccount.lastName}}</mat-card-title>
                <mat-card-subtitle>See your profile</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content style="padding: 6px 24px ">
                <button mat-menu-item routerLink="/settings">
                    <mat-icon>settings</mat-icon>
                    <span>Settings</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>wb_sunny</mat-icon>
                    <span>Night mode</span>
                </button>
                <button mat-menu-item (click)="logOut()">
                    <mat-icon>logout</mat-icon>
                    <span>Log out</span>
                </button>
            </mat-card-content>
        </mat-menu>
    </div>
</mat-toolbar>