<div *ngIf="userAccount" >
    <h1 mat-dialog-header fxLayoutAlign="center">Create Post</h1>
    <mat-divider></mat-divider>
    <mat-card-header class="header" fxLayout="row" fxLayoutAlign="start center">
        <div mat-card-avatar class="profile-image">
            <img *ngIf="userAccount.profileImagePath == null" mat-card-avatar class="profile-image" src="assets/blank_profile.png" style="width: inherit; height: inherit; object-fit: cover"/>
            <img *ngIf="userAccount.profileImagePath != null" mat-card-avatar class="profile-image" [src]="convertBase64TextString(userAccount.profileImagePath)" style="width: inherit; height: inherit; object-fit: cover"/>
        </div>
        <mat-card-title>
        {{userAccount.firstName}} {{userAccount.lastName}}
        </mat-card-title>
        <mat-chip [matMenuTriggerFor]="menu"><mat-icon>public</mat-icon>Public</mat-chip>
        <mat-menu #menu="matMenu">
            <button (click)="this.setPostToPublic()" mat-menu-item><mat-icon>public</mat-icon>Public</button>
            <button (click)="this.setPostToFriends()" mat-menu-item><mat-icon>people</mat-icon>Friends</button>
        </mat-menu>
    </mat-card-header>
    <mat-card-content>
        <div id="content" class="post-content" contenteditable="true" (keyup)="getTextContent()">
            <span *ngIf="postTextContent==null||postTextContent.trim().length == 0" contenteditable="false">What's on your mind?</span>
        </div>
    </mat-card-content>
    <mat-card-content class="upload-photo" *ngIf="openUploadPhoto">
        <button color="primary" mat-button id="upload-photo-button"><mat-icon>add_photo_alternate</mat-icon>Upload Photo</button>
        <button mat-mini-fab id="close-upload-photo" (click)="openUploadPhoto=false"><mat-icon>close</mat-icon></button>
    </mat-card-content>
    <button *ngIf="!openUploadPhoto" (click)="openUploadPhoto" mat-button color="primary" style="width: 100%;" (click)="openUploadPhoto=true">
        <mat-icon>add_photo_alternate</mat-icon>
        Upload Photo
    </button>
    <button (click)="this.submitNewPost()" mat-raised-button color="primary" style="width: 100%;">
        Post
    </button>
</div>
