<div>
    <!-- Insert Profile Picture of commenter -->
</div>
<div>
    <mat-card>
        <mat-card-title>
            User Name
            <!-- {{commenter.username}} -->
        </mat-card-title>
        <mat-card-content>
            Comment Here!
            <!-- {{commenter.comment}} -->
        </mat-card-content>
    </mat-card>
    <button mat-flat-button>Like</button>
    <button mat-flat-button>Reply</button>
    <!-- <button mat-flat-button>{{commenter.dateTimeCommentCreated}}</button> -->
    <span>2h</span> <!-- {{commenter.dateTimeCommentCreated}} -->
</div>