<body>
    <div id="background"></div>
    <div class="top">
    <h1>404</h1>
    <h3>page not found</h3>
    </div>
    <div class="container">
    <div class="ghost-copy">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
    </div>
    <div class="ghost">
        <div class="face">
        <div class="eye"></div>
        <div class="eye-right"></div>
        <div class="mouth"></div>
        </div>
    </div>
    <div class="shadow"></div>
    </div>
    <div class="bottom">
    <h2>This Page Isn't Available</h2>
    <p>This link may be broken or the page may have been removed.</p>
    <p>Check to see if the link you're trying to open is correct.</p>
    <!-- <form class="search">
        <input type="text" class="search-bar" placeholder="Search">
        <button type="submit" class="search-btn">
        <i class="fa fa-search"></i>
        </button>
    </form> -->

    <div class="buttons">
        <button class="btn">Go to News Feed</button>
    </div>
    <div class="buttons">
        <button class="btn">Go Back</button>
    </div>
    </div>
</body>