<div>
    <p>{{registerForm.value | json}}</p>
</div>

<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="40">
        <mat-toolbar color="primary">Sign up to Pastebook</mat-toolbar>
        <form 
            fxLayoutAlign="stretch" 
            fxLayout="column" 
            class="register-form" 
            [formGroup]="registerForm" 
            (submit)="onSubmit()">

        <mat-form-field>
            <input matInput placeholder="First Name"
            type="text"
            name="firstname"
            id="firstname"
            formControlName="firstname">
            <mat-error class="error-div"
                *ngIf="firstName?.errors?.['required'] && firstName?.touched">
                First name is required
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Last Name"
            type="text"
            name="lastname"
            id="lastname"
            formControlName="lastname">
            <mat-error class="error-div"
                *ngIf="lastName?.errors?.['required'] && lastName?.touched">
                Last name is required
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Email"
            type="email"
            name="email"
            id="email"
            formControlName="email">
            <mat-error class="error-div"
                *ngIf="email?.errors?.['pattern'] && email?.touched">
                You must enter a valid email
            </mat-error>
            <mat-error
            *ngIf="email?.errors?.['required'] && email?.touched">
                Email is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="New Password"
            type="password"
            name="password"
            id="password"
            formControlName="password">
            <mat-error class="error-div"
                *ngIf="password?.errors?.['required'] && password?.touched">
                Password is required
            </mat-error>
            <mat-error class="error-div"
                *ngIf="password?.errors?.['pattern'] && password?.touched">
                Minimum six characters, at least one letter, one number and one special character
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Confirm Password" type="password"
            name="confirmpassword"
            id="confirmpassword"
            formControlName="confirmpassword">
            <mat-error class="error-div"
                *ngIf="confirmPassword?.errors?.['required'] && confirmPassword?.touched">
                Confirm your password
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <mat-hint>
                MM/DD/YYYY
            </mat-hint>
            <mat-error class="error-div"
                *ngIf="birthday?.errors?.['required'] && birthday?.touched">
                Birthdate is required
            </mat-error>
            <input formControlName="birthday" matInput [matDatepicker]="picker"
            [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        

        <mat-form-field>
            <input matInput placeholder="Mobile Number"
            type="text"
            (keypress)="keyPressNumbers($event)"
            maxlength="11"
            name="number"
            id="number">
        </mat-form-field>

        <mat-radio-group class="gender-button" aria-label="Gender">
            <mat-radio-button color="primary" style="padding-right:80px" value="male">Male</mat-radio-button>
            <mat-radio-button color="primary" style="padding-right:80px" value="female">Female</mat-radio-button>
            <mat-radio-button color="primary" style="padding-right:80px" value="other">Other</mat-radio-button>
        </mat-radio-group>

        
        <button mat-raised-button color="primary"
        value="submit"
        type="submit" [disabled]="registerForm.invalid"
        >Sign me up!</button>

        <div fxLayoutAlign="center center" fxFlexFill>
            <button mat-button color="primary">Already have an account?</button>
        </div>
      </form>
    </mat-card>
</div>