<mat-nav-list>
    <div class="img-liked"><img class="img" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <p class="liked">Ernie Baron</p>
    </div>
    <div class="img-liked"><img class="img" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <p class="liked">Mel Tiangco</p>
    </div>
    <div class="img-liked"><img class="img" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <p class="liked">Mike Enriquez</p>
    </div>

</mat-nav-list>