.img {
    width: 40px;
    height: auto;
    padding-right: 5px;
    border-radius: 50%;
}

.liked {
    display: inline;
    position: absolute;
    top: 20%;
}

.img-liked {
    position: relative;
    width: 150px;
    height: 40px;
}