/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    // border: 1px solid rgba(0, 0, 0, 0.5);
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-container {
    background: #eceff1;
    border-radius: 16px !important;
}


.profile-image {
    background-size: cover;
  }