<div class="main-div" fxFlex="70">
    <div class="search-field-container">
        <mat-form-field class="search-field" appearance="fill">
            <mat-label>Search a friend's name</mat-label>
            <input matInput type="text" [(ngModel)]="clearField">
            <button  matSuffix mat-icon-button aria-label="Clear"
            (click)="clearField=''">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div *ngFor="let friend of this.friends" class="friend-container">
        <mat-card class="friend-card">
            <mat-card-title-group>
            <mat-card-title>
                {{friend.firstName}} {{friend.lastName}}
                <div>
                   <button routerLink="/{{friend.userName}}" class="align:left" mat-button color="primary">Visit Profile</button>
                </div>
            </mat-card-title>
            <img mat-card-md-image *ngIf="friend.profileImagePath != null"[src]="convertBase64TextString(friend.profileImagePath)">
            <img mat-card-md-image *ngIf="friend.profileImagePath == null" src="assets/blank_profile.png">
            
            </mat-card-title-group>
            <mat-card-content>
            {{friend.aboutMe}}
            </mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
    </div>
</div>

<p>{{clearField | json}}</p>