<app-nav-bar></app-nav-bar>
<div>
<h1>Friend Requests</h1>
</div>

<div class="cards-div" fxLayoutAlign="center center">

    <div class="card-container">
        <mat-card class="friend-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p class="friend-name" style="font:20px">Mary Grace Angela Corazon Melchora Santo</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
            <button class="btn" mat-raised-button color="primary">Confirm</button>
            <button class="btn" mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="friend-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p class="friend-name" style="font:20px">Mary Grace Angela Corazon Melchora Santo</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
            <button class="btn" mat-raised-button color="primary">Confirm</button>
            <button class="btn" mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="friend-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p class="friend-name" style="font:20px">Mary Grace Angela Corazon Melchora Santo</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
            <button class="btn" mat-raised-button color="primary">Confirm</button>
            <button class="btn" mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="friend-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p class="friend-name" style="font:20px">Mary Grace Angela Corazon Melchora Santo</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
            <button class="btn" mat-raised-button color="primary">Confirm</button>
            <button class="btn" mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="friend-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p class="friend-name" style="font:20px">Mary Grace Angela Corazon Melchora Santo</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
            <button class="btn" mat-raised-button color="primary">Confirm</button>
            <button class="btn" mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="friend-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p class="friend-name" style="font:20px">Mary Grace Angela Corazon Melchora Santo</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
            <button class="btn" mat-raised-button color="primary">Confirm</button>
            <button class="btn" mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="friend-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p class="friend-name" style="font:20px">Mary Grace Angela Corazon Melchora Santo</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
            <button class="btn" mat-raised-button color="primary">Confirm</button>
            <button class="btn" mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="friend-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p class="friend-name" style="font:20px">Mary Grace Angela Corazon Melchora Santo</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
            <button class="btn" mat-raised-button color="primary">Confirm</button>
            <button class="btn" mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="friend-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p class="friend-name" style="font:20px">Mary Grace Angela Corazon Melchora Santo</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
            <button class="btn" mat-raised-button color="primary">Confirm</button>
            <button class="btn" mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="friend-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p class="friend-name" style="font:20px">Mary Grace Angela Corazon Melchora Santo</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
            <button class="btn" mat-raised-button color="primary">Confirm</button>
            <button class="btn" mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="friend-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p class="friend-name" style="font:20px">Mary Grace Angela Corazon Melchora Santo</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
            <button class="btn" mat-raised-button color="primary">Confirm</button>
            <button class="btn" mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="friend-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p class="friend-name" style="font:20px">Mary Grace Angela Corazon Melchora Santo</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
            <button class="btn" mat-raised-button color="primary">Confirm</button>
            <button class="btn" mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="friend-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p class="friend-name" style="font:20px">Mary Grace Angela Corazon Melchora Santo</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
            <button class="btn" mat-raised-button color="primary">Confirm</button>
            <button class="btn" mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="friend-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content>
                <p class="friend-name" style="font:20px">Mary Grace Angela Corazon Melchora Santo</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
            <button class="btn" mat-raised-button color="primary">Confirm</button>
            <button class="btn" mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>